# CI configuration

language: cpp

sudo: false

dist: bionic

python: "3.6"

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          update: true
          sources:
            - sourceline: 'ppa:mhier/libboost-latest'
          packages:
            - gcc-8
            - libboost

    - compiler: clang
      addons:
        apt:
          update: true
          sources:
            - sourceline: 'ppa:mhier/libboost-latest'
          packages:
            - clang-9
            - libboost


before_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Release ..

script: make && make test
